<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/34c66112-61c0-419e-b1d9-2979aaa974b4/resourceGroups/DatingApp/providers/Microsoft.Web/sites/DatingApp-API</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://datingapp-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>datingapp-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DatingApp-API</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DatingApp-API</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>